apiVersion: v1
kind: Secret
metadata:
  name: {{ include "postgresql.fullname" . }}
type: Opaque
stringData:
  POSTGRES_DB: {{ .Values.postgres.db | quote }}
  POSTGRES_USER: {{ .Values.postgres.user | quote }}
  POSTGRES_PASSWORD: {{ .Values.postgres.password | quote }}
